@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3e41a8;
  --primary-dark: #302f5b;
  --secondary: #ff786a;

  --text-color: #7e7e90;
  --section-background: #f2f4ff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
